.about {
  position: relative;
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  max-width: 154px;
  margin-right: 120px;
  z-index: 2;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 2;
}

.about__circle {
  position: absolute;
  left: -91px;
  top: -121px;
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  z-index: 1;
}
.about__paragraph {
  margin: 0 0 32px;
}
.about__paragraph:last-child {
  margin-bottom: 0px;
}
