.events {
  position: relative;
  margin: auto;
  padding: 40px;
  text-align: center;
  background-color: #111112bf;
  box-shadow: inset 1px 0px 20px 6px #ffffff75;
}

.events__heading {
  text-align: start;
  font-size: 50px;
  color: #ffffff;
  margin: 0 auto;
}

.event-slideshow__slide {
  display: none;
  text-align: start;
}

.event-slideshow__slide--active {
  display: block;
  text-align: start;
}

.event-slideshow__info {
  margin: 30px auto 10px;
  font-size: 30px;
}

.event-slideshow__link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
}

.events-slideshow__media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 20px auto 90px;
}

.event-slideshow__title {
  max-width: 300px;
  font-size: 35px;
  font-weight: bold;
}
.event-slideshow__image {
  max-width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: -8px 20px 20px 2px #ffffff73;
}

.event-slideshow__subtitle {
  max-width: 300px;
  font-size: 20px;
  color: #ffffff;

  text-align: justify;
}

.event-slideshow__subtitle2 {
  font-size: 40px;
  color: #007bff;
  text-align: justify;
  font-weight: 600;
  line-height: 20px;
}

.event-slideshow__link:hover {
  background-color: #0056b3;
}
.event-slideshow__arrow {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  color: #2f80ed;
  font-weight: bold;
  font-size: 59px;
  transition: color 0.5s ease, transform 0.5s ease;
  user-select: none;
  background-color: transparent;
  border: none;
}

.event-slideshow__arrow--left {
  left: 170px;
}

.event-slideshow__arrow--right {
  right: 170px;
}

.event-slideshow__arrow:hover {
  color: #0056b3; /* Darker blue shade on hover */
  transform: scale(1.05); /* Slightly scale the arrows up */
  animation: pulse 1s infinite; /* Apply the pulsing animation */
}

/* Pulse animation keyframes */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
