/* Keyframes for the bounce effect */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-75px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 57px;
  height: 80px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding-top: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav__link {
  font-size: large;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.hamburger-menu {
  display: none; /* Show the hamburger menu */
}

.header__title {
  font-size: 50px;
  line-height: 76px;
  font-weight: 500;
  margin: 0;
  max-width: 700px;
  margin-top: 110px;
}
.header__subtitle {
  z-index: -1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 20rem;
  position: absolute;
  top: 32.5%;
  right: 10%;
  font-size: 3.5rem;
  color: #3082ff; /* Change the color */
  /* Define the bounce animation */
  animation: bounce 2s infinite;
  margin-bottom: 0;
  text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.585); /* horizontal-offset vertical-offset blur-radius color */
}

.header__description {
  font-size: 28px;
  line-height: 30px;
  max-width: 48rem;
  margin-bottom: 0px;
}

.header__image {
  z-index: -1;
  position: absolute;
  max-width: 32rem;
  right: 15px;
  bottom: 6rem;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 1.2rem;
}

.header__link:hover {
  color: #1f69c9;
}

.header__address {
  margin: 0;
  color: #838383;
  font-size: 1.2rem;
}

@media (max-width: 1220px) {
  .header__description {
    font-size: 28px;
    line-height: 30px;
    max-width: 35rem;
    margin-bottom: 0px;
  }
  .header__image {
    z-index: -1;
    position: absolute;
    max-width: 30rem;
    right: 10px;
    bottom: 8rem;
  }
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  .header__title {
    max-width: 60rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 5.5rem auto 0.8rem;

    text-align: center; /* Center the text */
  }
  .header__subtitle {
    z-index: -1;
    position: absolute;
    top: 59%;
    left: 43%;
    transform: translate(
      -50%,
      -50%
    ); /* Offset the image by half its width and height to center it */
    font-size: 2.3rem;
    color: #3082ff; /* Change the color */
    /* Define the bounce animation */
    animation: bounce 2s infinite;
    margin-bottom: 0;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.585); /* horizontal-offset vertical-offset blur-radius color */
  }
  .header__description {
    max-width: 40rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 8px auto;
  }

  .header__image {
    max-width: 20rem; /* Control the size of the image */
    position: absolute; /* Position it absolutely within its parent container */
    top: 75%; /* Set to 50% from the top of the parent container */
    left: 50%; /* Set to 50% from the left of the parent container */
    transform: translate(
      -50%,
      -50%
    ); /* Offset the image by half its width and height to center it */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu */
    cursor: pointer;
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 70px;
  }

  .nav {
    flex-direction: row-reverse;
  }
  .nav__logo {
    width: 50px;
    height: auto;
    /* Adjust size for small screens */
  }
  .nav__link {
    font-size: large;
  }

  .nav__links {
    /* Initial state: hidden */
    display: none;
    /* Additional styles */
  }

  .nav__links.active {
    z-index: -1;
    /* When active, show the menu */
    display: block;
    /* Styles to properly format your navigation menu for mobile */
    position: absolute;
    background-color: #fff; /* Example background */
    top: 20%; /* Position below the nav bar */
    left: 18%;
    transform: translate(
      -50%,
      -50%
    ); /* Offset the image by half its width and height to center it */
    width: 20%;
    margin-top: 0%;
    text-align: start;
    /* You might want to add more styles here */
  }
}

/* 480 Media Query */
@media (max-width: 480px) {
  .header__title {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 7.25rem; /* Further reduce top margin */
  }
  .header__subtitle {
    z-index: -1;
    max-width: 40rem;
    position: absolute;
    top: 59%;
    left: 43%;
    transform: translate(
      -50%,
      -50%
    ); /* Offset the image by half its width and height to center it */
    font-size: 2rem;
    color: #3082ff; /* Change the color */
    /* Define the bounce animation */
    animation: bounce 2s infinite;
    margin-bottom: 0;
    text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.585); /* horizontal-offset vertical-offset blur-radius color */
  }

  .header__description {
    max-width: 35rem;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 8px auto;
  }

  .header__image {
    max-width: 18rem; /* Control the size of the image */
    position: absolute; /* Position it absolutely within its parent container */
    top: 72%; /* Set to 50% from the top of the parent container */
    left: 50%; /* Set to 50% from the left of the parent container */
    transform: translate(
      -50%,
      -50%
    ); /* Offset the image by half its width and height to center it */
  }

  .header__footer {
    line-height: 2rem;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header__link {
    color: #2f80ed;
    text-decoration: none;
    font-size: 1.3rem;
  }
  .header__address {
    margin: 0;
    color: #838383;
    font-size: 0.8rem;
  }
}

/* Events styles */
.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
  z-index: 0;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}
.person_name_burbidge {
  right: 125px;
  top: 96px;
}

.person_name_cannon {
  bottom: 18px;
  right: 216px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  left: 159px;
  top: 79px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.staff {
  padding: 100px 0 140px;
  background-image: url(../images/staff_picks_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
  color: #fff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 68px;
  margin-top: 0; /* Reset the default top margin */
  color: #fff;
}

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 760px;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0px;
  gap: 40px;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  height: 420px;
  width: 360px;
  margin-right: 0px;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin-top: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}

.membership {
  padding: 100px 0 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.step {
  width: 220px;
  margin: 0 40px 0 0;
}

.step__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin: 10px 0 0;
}

.about {
  position: relative;
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  max-width: 154px;
  margin-right: 120px;
  z-index: 2;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 2;
}

.about__circle {
  position: absolute;
  left: -91px;
  top: -121px;
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  z-index: 1;
}
.about__paragraph {
  margin: 0 0 32px;
}
.about__paragraph:last-child {
  margin-bottom: 0px;
}
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;

  padding-left: 80px;
  padding-right: 102px;
}

.footer__columns {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.footer__column_content_hours {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.footer__logo {
  color: #fff;
  margin-left: 0px;
  width: 57px;
  height: 80px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__column-heading {
  color: #fff;
  font-size: inherit;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__copyright {
  margin-top: 108px;
  padding-bottom: 60px;
  margin-bottom: 0;
  color: white;
}
