.events {
  position: relative;
  margin: auto;
  padding: 40px;
  height: 100vh;
  min-height: fit-content;
  text-align: center;
  background-color: #000000f0;
  box-shadow: -16px 20px 30px 10px #2e80ed;
  color: #ffffff;
}

.events__heading {
  text-align: start;
  font-size: 50px;
  color: #ffffff;
  margin: 0 auto;
}

.event-slideshow__slide {
  display: none;
  text-align: start;
}

.event-slideshow__slide--active {
  display: block;
  text-align: start;
}

.event-slideshow__info {
  margin: 30px auto 10px;
  font-size: 30px;
}

.event-slideshow__link {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 25px;
}

.events-slideshow__media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 20px auto 90px;
}

.event-slideshow__title {
  max-width: 400px;
  font-size: 65px;
  font-weight: bold;
}
.event-slideshow__image {
  max-width: 400px;
  height: auto;
  border-radius: 50px;
  box-shadow: -11px 7px 40px 7px #dbd7af4f;
}

.event-slideshow__subtitle {
  max-width: 380px;
  font-size: 30px;
  color: #ffffff;
  line-height: 38px;
  text-align: justify;
  margin-bottom: 0;
}

.event-slideshow__subtitle2 {
  color: #007bff;
  text-align: justify;
  font-weight: 600;
  line-height: 20px;
}

.event-slideshow__link:hover {
  background-color: #0056b3;
}
.event-slideshow__arrow {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  color: #2f80ed;
  font-weight: bold;
  font-size: 59px;
  user-select: none;
  background-color: transparent;
  border: none;
}

.event-slideshow__arrow--left {
  left: 170px;
}

.event-slideshow__arrow--right {
  right: 170px;
}

.event-slideshow__arrow:hover {
  color: #ffffff; /* Darker blue shade on hover */
  transform: scale(1.05); /* Slightly scale the arrows up */
  animation: pulse 1s infinite; /* Apply the pulsing animation */
}
