.nav {
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 57px;
  height: 80px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding-top: 8px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav__link {
  font-size: large;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.hamburger-menu {
  display: none; /* Show the hamburger menu */
}
.nav__link--active {
  color: #e74c3c; /* Change color for active link */
  text-decoration: underline; /* Add an underline to indicate active state */
}
.nav__link--active {
  color: #e74c3c; /* Change color for active link */
  text-decoration: underline; /* Add an underline to indicate active state */
}
